<h3>Data of Resource Pool, SAAP and Approved Mission Directorate for Reference</h3>

<table border="1" cellpadding="6">

    <tr style="background:#eaeaea;">
        <th>Particulars</th>
        <th>Ayush Services</th>
        <th>Educational Institutions</th>
        <th>Medicinal Plants</th>
        <th>Quality Control of ASU & H Drugs</th>
        <th>Flexi Pool</th>
        <th>Admin Cost</th>
        <th>Total</th>
    </tr>

    <!-- 🔹 Resource Pool -->
    <tr>
        <td>Resource Pool</td>
        <td><input id="ref_r1" name="ref_r1" type="number" step="0.001" readonly></td>
        <td><input id="ref_r2" name="ref_r2" type="number" step="0.001" readonly></td>
        <td><input id="ref_r3" name="ref_r3" type="number" step="0.001" readonly></td>
        <td><input id="ref_r4" name="ref_r4" type="number" step="0.001" readonly></td>
        <td><input id="ref_r5" name="ref_r5" type="number" step="0.001" readonly></td>
        <td><input id="ref_r6" name="ref_r6" type="number" step="0.001" readonly></td>
        <td><input id="ref_r_total" name="ref_r_total" type="number" step="0.001" readonly></td>
    </tr>

    <!-- 🔹 SAAP -->
    <tr>
        <td>Status of submitted SAAP</td>
        <td><input id="saap_r1" name="saap_r1" type="number" step="0.001" readonly></td>
        <td><input id="saap_r2" name="saap_r2" type="number" step="0.001" readonly></td>
        <td><input id="saap_r3" name="saap_r3" type="number" step="0.001" readonly></td>
        <td><input id="saap_r4" name="saap_r4" type="number" step="0.001" readonly></td>
        <td><input id="saap_r5" name="saap_r5" type="number" step="0.001" readonly></td>
        <td><input id="saap_r6" name="saap_r6" type="number" step="0.001" readonly></td>
        <td><input id="saap_r_total" name="saap_r_total" type="number" step="0.001" readonly></td>
    </tr>

    <!-- 🔹 Mission Director -->
    <tr>
        <td>Approval of Mission Directorate</td>
        <td><input id="md_r1" name="md_r1" type="number" step="0.001" readonly></td>
        <td><input id="md_r2" name="md_r2" type="number" step="0.001" readonly></td>
        <td><input id="md_r3" name="md_r3" type="number" step="0.001" readonly></td>
        <td><input id="md_r4" name="md_r4" type="number" step="0.001" readonly></td>
        <td><input id="md_r5" name="md_r5" type="number" step="0.001" readonly></td>
        <td><input id="md_r6" name="md_r6" type="number" step="0.001" readonly></td>
        <td><input id="md_r_total" name="md_r_total" type="number" step="0.001" readonly></td>
    </tr>

    <!-- 🔹 Grand Total -->
    <tr style="background:#eaeaea;">
        <td><b>Grand Total</b></td>
        <td><input id="ref_g1" type="number" step="0.001" readonly></td>
        <td><input id="ref_g2" type="number" step="0.001" readonly></td>
        <td><input id="ref_g3" type="number" step="0.001" readonly></td>
        <td><input id="ref_g4" type="number" step="0.001" readonly></td>
        <td><input id="ref_g5" type="number" step="0.001" readonly></td>
        <td><input id="ref_g6" type="number" step="0.001" readonly></td>
        <td><input id="ref_g_total" type="number" step="0.001" readonly></td>
    </tr>

</table>
